/* Variables */
:root {
    --black: #222;
    --white: #eee;
    --blue: #2088e8;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

header {
    padding: 50px 0;
}

header h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;
}

button {
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    margin: 5px;
    padding: 20px;
}

button[disabled] {
    opacity: 0.5;
}

button:hover {
    cursor: pointer;
}

button[disabled]:hover {
    cursor: default;
}

#status-panel {
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

/* Used for the different screens (start screen, quiz screen, 
   hi-score screen) */
.screen {
    padding: 200px;
    text-align: center;
}

/* Used to hide screens (start screen, quiz screen, hi-score screen) not
   currently in use */
.hide {
    display: none;
}

footer {
    color: var(--blue);
}
